*.cycdx
*.P
*.o
*.lst
*.a
*.hex
boot.cydsn/CortexM0/ARM_GCC_493/Debug/boot.elf
*.map
*.elf
*.log
boot.cydsn/CortexM0/ARM_GCC_493/Debug/library.deps
boot.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt
boot.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_C__ARM_GCC_GENERIC.txt
*.deps
boot.cydsn/CortexM0/ARM_GCC_493/Release/SOURCE_C__ARM_GCC_GENERIC.txt
boot.cydsn/CortexM0/ARM_GCC_493/Release/LINK_options.txt
boot.cydsn/Export/PSoCCreatorExportIDE.xml
boot.cydsn/boot_timing.html
*.bvf
boot.cydsn/codegentemp/boot.ctl
*.cyfit
*.dsf
*.pci
*.pco
*.plc_log
boot.cydsn/codegentemp/bitstream.txt
*.route
*.wde
boot.cydsn/codegentemp/boot.vh2
*.v
boot.cydsn/codegentemp/boot.tr
*.svd
boot.cydsn/codegentemp/boot.svd
*.sdf
boot.cydsn/codegentemp/boot.sdc
*.rt_log
*.rpt
*.lib
*.vh2
boot.cydsn/codegentemp/boot_u.sdc
*.ld
boot.cydsn/codegentemp/Cm0Iar.icf
*.scat
boot.cydsn/codegentemp/boot_timing.html
boot.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
boot.cydsn/codegentemp/warp_dependencies.txt
boot.cydsn/CortexM0/ARM_GCC_493/Release/SOURCE_ASM__ARM_GCC_GENERIC.txt
rev1.cydsn/codegentemp/bitstream.txt
*.icf
rev1.cydsn/codegentemp/pins_64-TQFP.xml
rev1.cydsn/codegentemp/project_ids.txt
rev1.cydsn/codegentemp/referenced_files.txt
*.ctl
*.sdc
*.tr
rev1.cydsn/codegentemp/rev1_timing.html
*.cyacd
rev1.cydsn/Export/PSoCCreatorExportIDE.xml
rev1.cydsn/codegentemp/warp_dependencies.txt
rev1.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt
rev1.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
rev1.cydsn/rev1_timing.html
boot.cydsn/boot.cyprj.Masahiko
rev1.cydsn/Generated_Source/PSoC4/exported_symbols.txt
rev1.cydsn/rev1.cyprj.Masahiko
TouchMIDI32_firmware.cywrk.Masahiko
*.inf
rev1.cydsn/Generated_Source/PSoC4/renamed_symbols.txt
boot.cydsn/codegentemp/Bootloader.c
boot.cydsn/codegentemp/Bootloader.h
boot.cydsn/codegentemp/Bootloader_PVT.h
boot.cydsn/codegentemp/Cm0Start.c
boot.cydsn/codegentemp/cmsis_armcc.h
boot.cydsn/codegentemp/cmsis_gcc.h
boot.cydsn/codegentemp/core_cm0.h
boot.cydsn/codegentemp/core_cm0_psoc4.h
*.s
*.inc
*.txt
boot.cydsn/codegentemp/lcpsoc3/index
boot.cydsn/codegentemp/pins_64-TQFP.xml
rev1.cydsn/codegentemp/lcpsoc3/index
TouchMIDI32_firmware.cywrk
boot.cydsn/codegentemp/core_cmFunc.h
boot.cydsn/codegentemp/core_cmInstr.h
boot.cydsn/codegentemp/cydevice_trm.h
boot.cydsn/codegentemp/cydisabledsheets.h
boot.cydsn/codegentemp/CyDMA.c
boot.cydsn/codegentemp/CyDMA.h
boot.cydsn/codegentemp/cyfitter.h
boot.cydsn/codegentemp/cyfitter_cfg.c
boot.cydsn/codegentemp/cyfitter_cfg.h
boot.cydsn/codegentemp/CyFlash.c
boot.cydsn/codegentemp/CyFlash.h
boot.cydsn/codegentemp/CyLFClk.c
boot.cydsn/codegentemp/CyLFClk.h
boot.cydsn/codegentemp/CyLib.c
boot.cydsn/codegentemp/CyLib.h
boot.cydsn/codegentemp/cymetadata.c
boot.cydsn/codegentemp/cypins.h
boot.cydsn/codegentemp/cyPm.c
boot.cydsn/codegentemp/cyPm.h
boot.cydsn/codegentemp/cytypes.h
boot.cydsn/codegentemp/cyutils.c
boot.cydsn/codegentemp/Pin_Input.c
boot.cydsn/codegentemp/Pin_Input.h
boot.cydsn/codegentemp/Pin_Input_aliases.h
boot.cydsn/codegentemp/Pin_Input_PM.c
boot.cydsn/codegentemp/project.h
boot.cydsn/codegentemp/USBFS.c
boot.cydsn/codegentemp/USBFS.h
boot.cydsn/codegentemp/USBFS_audio.c
boot.cydsn/codegentemp/USBFS_audio.h
