*.a
*.bvf
*.ctl
*.cyacd
*.cycdx
*.cyfit
*.deps
*.dsf
*.elf
*.hex
*.icf
*.inf
*.inc
*.log
*.lib
*.lst
*.ld
*.map
*.o
*.P
*.pci
*.pco
*.plc_log
*.rt_log
*.rpt
*.route
*.s
*.scat
*.sdc
*.sdf
*.svd
*.tr
*.txt
*.wde
*.v
*.vh2
boot.cydsn/Export/PSoCCreatorExportIDE.xml
boot.cydsn/boot_timing.html
boot.cydsn/codegentemp/boot_timing.html
boot.cydsn/boot.cyprj.Masahiko
TouchMIDI32_firmware.cywrk.Masahiko
boot.cydsn/codegentemp/Bootloader.c
boot.cydsn/codegentemp/Bootloader.h
boot.cydsn/codegentemp/Bootloader_PVT.h
boot.cydsn/codegentemp/Cm0Start.c
boot.cydsn/codegentemp/cmsis_armcc.h
boot.cydsn/codegentemp/cmsis_gcc.h
boot.cydsn/codegentemp/core_cm0.h
boot.cydsn/codegentemp/core_cm0_psoc4.h
boot.cydsn/codegentemp/lcpsoc3/index
boot.cydsn/codegentemp/pins_64-TQFP.xml
TouchMIDI32_firmware.cywrk
common/old/tm32_i2cdev.h
common/old/tm32_lib.h
