*.cycdx
*.P
*.o
*.lst
*.a
*.hex
boot.cydsn/CortexM0/ARM_GCC_493/Debug/boot.elf
*.map
*.elf
*.log
boot.cydsn/CortexM0/ARM_GCC_493/Debug/library.deps
boot.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt
boot.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_C__ARM_GCC_GENERIC.txt
*.deps
boot.cydsn/CortexM0/ARM_GCC_493/Release/SOURCE_C__ARM_GCC_GENERIC.txt
boot.cydsn/CortexM0/ARM_GCC_493/Release/LINK_options.txt
boot.cydsn/Export/PSoCCreatorExportIDE.xml
boot.cydsn/boot_timing.html
*.bvf
boot.cydsn/codegentemp/boot.ctl
*.cyfit
*.dsf
*.pci
*.pco
*.plc_log
boot.cydsn/codegentemp/bitstream.txt
*.route
*.wde
boot.cydsn/codegentemp/boot.vh2
*.v
boot.cydsn/codegentemp/boot.tr
*.svd
boot.cydsn/codegentemp/boot.svd
*.sdf
boot.cydsn/codegentemp/boot.sdc
*.rt_log
*.rpt
*.lib
*.vh2
boot.cydsn/codegentemp/boot_u.sdc
*.ld
boot.cydsn/codegentemp/Cm0Iar.icf
*.scat
boot.cydsn/codegentemp/boot_timing.html
boot.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
boot.cydsn/codegentemp/warp_dependencies.txt
boot.cydsn/CortexM0/ARM_GCC_493/Release/SOURCE_ASM__ARM_GCC_GENERIC.txt
rev1.cydsn/codegentemp/bitstream.txt
*.icf
rev1.cydsn/codegentemp/pins_64-TQFP.xml
rev1.cydsn/codegentemp/project_ids.txt
rev1.cydsn/codegentemp/referenced_files.txt
*.ctl
*.sdc
*.tr
rev1.cydsn/codegentemp/rev1_timing.html
*.cyacd
rev1.cydsn/Export/PSoCCreatorExportIDE.xml
rev1.cydsn/codegentemp/warp_dependencies.txt
rev1.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt
rev1.cydsn/CortexM0/ARM_GCC_493/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
rev1.cydsn/rev1_timing.html
boot.cydsn/boot.cyprj.Masahiko
rev1.cydsn/Generated_Source/PSoC4/exported_symbols.txt
rev1.cydsn/rev1.cyprj.Masahiko
TouchMIDI32_firmware.cywrk.Masahiko
*.inf
rev1.cydsn/Generated_Source/PSoC4/renamed_symbols.txt
boot.cydsn/codegentemp/Bootloader.c
boot.cydsn/codegentemp/Bootloader.h
boot.cydsn/codegentemp/Bootloader_PVT.h
boot.cydsn/codegentemp/Cm0Start.c
boot.cydsn/codegentemp/cmsis_armcc.h
boot.cydsn/codegentemp/cmsis_gcc.h
boot.cydsn/codegentemp/core_cm0.h
boot.cydsn/codegentemp/core_cm0_psoc4.h
*.s
*.inc
*.txt
boot.cydsn/codegentemp/lcpsoc3/index
boot.cydsn/codegentemp/pins_64-TQFP.xml
rev1.cydsn/codegentemp/lcpsoc3/index
TouchMIDI32_firmware.cywrk
boot.cydsn/codegentemp/core_cmFunc.h
boot.cydsn/codegentemp/core_cmInstr.h
boot.cydsn/codegentemp/cydevice_trm.h
boot.cydsn/codegentemp/cydisabledsheets.h
boot.cydsn/codegentemp/CyDMA.c
boot.cydsn/codegentemp/CyDMA.h
boot.cydsn/codegentemp/cyfitter.h
boot.cydsn/codegentemp/cyfitter_cfg.c
boot.cydsn/codegentemp/cyfitter_cfg.h
boot.cydsn/codegentemp/CyFlash.c
boot.cydsn/codegentemp/CyFlash.h
boot.cydsn/codegentemp/CyLFClk.c
boot.cydsn/codegentemp/CyLFClk.h
boot.cydsn/codegentemp/CyLib.c
boot.cydsn/codegentemp/CyLib.h
boot.cydsn/codegentemp/cymetadata.c
boot.cydsn/codegentemp/cypins.h
boot.cydsn/codegentemp/cyPm.c
boot.cydsn/codegentemp/cyPm.h
boot.cydsn/codegentemp/cytypes.h
boot.cydsn/codegentemp/cyutils.c
boot.cydsn/codegentemp/Pin_Input.c
boot.cydsn/codegentemp/Pin_Input.h
boot.cydsn/codegentemp/Pin_Input_aliases.h
boot.cydsn/codegentemp/Pin_Input_PM.c
boot.cydsn/codegentemp/project.h
boot.cydsn/codegentemp/USBFS.c
boot.cydsn/codegentemp/USBFS.h
boot.cydsn/codegentemp/USBFS_audio.c
boot.cydsn/codegentemp/USBFS_audio.h
boot.cydsn/codegentemp/USBFS_boot.c
boot.cydsn/codegentemp/USBFS_cdc.c
boot.cydsn/codegentemp/USBFS_cdc.h
boot.cydsn/codegentemp/USBFS_cls.c
boot.cydsn/codegentemp/USBFS_cydmac.h
boot.cydsn/codegentemp/USBFS_descr.c
boot.cydsn/codegentemp/USBFS_Dm.c
boot.cydsn/codegentemp/USBFS_Dm.h
boot.cydsn/codegentemp/USBFS_Dm_aliases.h
boot.cydsn/codegentemp/USBFS_Dm_PM.c
boot.cydsn/codegentemp/USBFS_Dp.c
boot.cydsn/codegentemp/USBFS_Dp.h
boot.cydsn/codegentemp/USBFS_Dp_aliases.h
boot.cydsn/codegentemp/USBFS_Dp_PM.c
boot.cydsn/codegentemp/USBFS_drv.c
boot.cydsn/codegentemp/USBFS_episr.c
boot.cydsn/codegentemp/USBFS_hid.c
boot.cydsn/codegentemp/USBFS_hid.h
boot.cydsn/codegentemp/USBFS_midi.c
boot.cydsn/codegentemp/USBFS_midi.h
boot.cydsn/codegentemp/USBFS_msc.c
boot.cydsn/codegentemp/USBFS_msc.h
boot.cydsn/codegentemp/USBFS_pm.c
boot.cydsn/codegentemp/USBFS_pvt.h
boot.cydsn/codegentemp/USBFS_std.c
boot.cydsn/codegentemp/USBFS_vnd.c
rev1.cydsn/codegentemp/Bootloadable_1.c
rev1.cydsn/codegentemp/Bootloadable_1.h
rev1.cydsn/codegentemp/CapSense.h
rev1.cydsn/codegentemp/CapSense_Configuration.h
rev1.cydsn/codegentemp/CapSense_Control.c
rev1.cydsn/codegentemp/CapSense_Control.h
rev1.cydsn/codegentemp/CapSense_Filter.c
rev1.cydsn/codegentemp/CapSense_Filter.h
rev1.cydsn/codegentemp/CapSense_INT.c
rev1.cydsn/codegentemp/CapSense_ISR.c
rev1.cydsn/codegentemp/CapSense_ISR.h
rev1.cydsn/codegentemp/CapSense_Processing.c
rev1.cydsn/codegentemp/CapSense_Processing.h
rev1.cydsn/codegentemp/CapSense_RegisterMap.h
rev1.cydsn/codegentemp/CapSense_Sensing.c
rev1.cydsn/codegentemp/CapSense_Sensing.h
rev1.cydsn/codegentemp/CapSense_SensingCSD_LL.c
rev1.cydsn/codegentemp/CapSense_SensingCSD_LL.h
rev1.cydsn/codegentemp/CapSense_SmartSense_LL.h
rev1.cydsn/codegentemp/CapSense_Structure.c
rev1.cydsn/codegentemp/CapSense_Structure.h
rev1.cydsn/codegentemp/CapSense_Tuner.c
rev1.cydsn/codegentemp/CapSense_Tuner.h
rev1.cydsn/codegentemp/Cm0Start.c
rev1.cydsn/codegentemp/cmsis_armcc.h
rev1.cydsn/codegentemp/cmsis_gcc.h
rev1.cydsn/codegentemp/core_cm0.h
rev1.cydsn/codegentemp/core_cm0_psoc4.h
rev1.cydsn/codegentemp/core_cmFunc.h
rev1.cydsn/codegentemp/core_cmInstr.h
rev1.cydsn/codegentemp/cybootloader.c
rev1.cydsn/codegentemp/cydevice_trm.h
rev1.cydsn/codegentemp/cydisabledsheets.h
rev1.cydsn/codegentemp/CyDMA.c
rev1.cydsn/codegentemp/CyDMA.h
rev1.cydsn/codegentemp/cyfitter.h
rev1.cydsn/codegentemp/cyfitter_cfg.c
rev1.cydsn/codegentemp/cyfitter_cfg.h
rev1.cydsn/codegentemp/CyFlash.c
rev1.cydsn/codegentemp/CyFlash.h
rev1.cydsn/codegentemp/CyLFClk.c
rev1.cydsn/codegentemp/CyLFClk.h
rev1.cydsn/codegentemp/CyLib.c
rev1.cydsn/codegentemp/CyLib.h
rev1.cydsn/codegentemp/cymetadata.c
rev1.cydsn/codegentemp/cypins.h
rev1.cydsn/codegentemp/cyPm.c
rev1.cydsn/codegentemp/cyPm.h
rev1.cydsn/codegentemp/cytypes.h
rev1.cydsn/codegentemp/cyutils.c
rev1.cydsn/codegentemp/EZI2C.c
rev1.cydsn/codegentemp/EZI2C.h
rev1.cydsn/codegentemp/EZI2C_BOOT.c
rev1.cydsn/codegentemp/EZI2C_BOOT.h
rev1.cydsn/codegentemp/EZI2C_EZI2C.c
rev1.cydsn/codegentemp/EZI2C_EZI2C.h
rev1.cydsn/codegentemp/EZI2C_EZI2C_BOOT.c
rev1.cydsn/codegentemp/EZI2C_EZI2C_INT.c
rev1.cydsn/codegentemp/EZI2C_EZI2C_PVT.h
rev1.cydsn/codegentemp/EZI2C_PINS.h
rev1.cydsn/codegentemp/EZI2C_PINS.h
rev1.cydsn/codegentemp/EZI2C_PM.c
rev1.cydsn/codegentemp/EZI2C_PVT.h
rev1.cydsn/codegentemp/EZI2C_SCBCLK.c
rev1.cydsn/codegentemp/EZI2C_SCBCLK.h
rev1.cydsn/codegentemp/EZI2C_SCB_IRQ.c
rev1.cydsn/codegentemp/EZI2C_SCB_IRQ.h
rev1.cydsn/codegentemp/EZI2C_scl.c
rev1.cydsn/codegentemp/EZI2C_scl.h
rev1.cydsn/codegentemp/EZI2C_scl_aliases.h
rev1.cydsn/codegentemp/EZI2C_scl_PM.c
rev1.cydsn/codegentemp/EZI2C_sda.c
rev1.cydsn/codegentemp/EZI2C_sda.h
rev1.cydsn/codegentemp/EZI2C_sda_aliases.h
rev1.cydsn/codegentemp/EZI2C_sda_PM.c
rev1.cydsn/codegentemp/I2C.c
rev1.cydsn/codegentemp/I2C.h
rev1.cydsn/codegentemp/I2C_BOOT.c
rev1.cydsn/codegentemp/I2C_BOOT.h
rev1.cydsn/codegentemp/I2C_I2C.c
rev1.cydsn/codegentemp/I2C_I2C.h
rev1.cydsn/codegentemp/I2C_I2C_BOOT.c
rev1.cydsn/codegentemp/I2C_I2C_INT.c
rev1.cydsn/codegentemp/I2C_I2C_MASTER.c
rev1.cydsn/codegentemp/I2C_I2C_PVT.h
rev1.cydsn/codegentemp/I2C_PINS.h
rev1.cydsn/codegentemp/I2C_PM.c
rev1.cydsn/codegentemp/I2C_PVT.h
rev1.cydsn/codegentemp/I2C_SCBCLK.c
rev1.cydsn/codegentemp/I2C_SCBCLK.h
rev1.cydsn/codegentemp/I2C_SCB_IRQ.c
rev1.cydsn/codegentemp/I2C_SCB_IRQ.h
rev1.cydsn/codegentemp/I2C_scl.c
rev1.cydsn/codegentemp/I2C_scl.h
rev1.cydsn/codegentemp/I2C_scl_aliases.h
rev1.cydsn/codegentemp/I2C_scl_PM.c
rev1.cydsn/codegentemp/I2C_sda.c
rev1.cydsn/codegentemp/I2C_sda.h
rev1.cydsn/codegentemp/I2C_sda_aliases.h
rev1.cydsn/codegentemp/I2C_sda_PM.c
rev1.cydsn/codegentemp/isrTimer.h
rev1.cydsn/codegentemp/MIDI_OUT.c
rev1.cydsn/codegentemp/MIDI_OUT.h
rev1.cydsn/codegentemp/MIDI_OUT_aliases.h
rev1.cydsn/codegentemp/MIDI_OUT_PM.c
rev1.cydsn/codegentemp/MIDI_UART.c
rev1.cydsn/codegentemp/MIDI_UART.h
rev1.cydsn/codegentemp/MIDI_UART_BOOT.c
rev1.cydsn/codegentemp/MIDI_UART_INT.c
rev1.cydsn/codegentemp/MIDI_UART_IntClock.c
rev1.cydsn/codegentemp/MIDI_UART_IntClock.h
rev1.cydsn/codegentemp/MIDI_UART_PM.c
rev1.cydsn/codegentemp/Pin_1.c
rev1.cydsn/codegentemp/Pin_1.h
rev1.cydsn/codegentemp/Pin_1_aliases.h
rev1.cydsn/codegentemp/Pin_1_PM.c
rev1.cydsn/codegentemp/Pin_2.c
rev1.cydsn/codegentemp/Pin_2.h
rev1.cydsn/codegentemp/Pin_2_aliases.h
rev1.cydsn/codegentemp/Pin_2_PM.c
rev1.cydsn/codegentemp/Pin_3.c
rev1.cydsn/codegentemp/Pin_3.h
rev1.cydsn/codegentemp/Pin_3_aliases.h
rev1.cydsn/codegentemp/Pin_3_PM.c
rev1.cydsn/codegentemp/Pin_4.c
rev1.cydsn/codegentemp/Pin_4.h
rev1.cydsn/codegentemp/Pin_4_aliases.h
rev1.cydsn/codegentemp/Pin_4_PM.c
rev1.cydsn/codegentemp/Pin_5.c
rev1.cydsn/codegentemp/Pin_5.h
rev1.cydsn/codegentemp/Pin_5_aliases.h
rev1.cydsn/codegentemp/Pin_5_PM.c
rev1.cydsn/codegentemp/Pin_6.c
rev1.cydsn/codegentemp/Pin_6.h
rev1.cydsn/codegentemp/Pin_6_aliases.h
rev1.cydsn/codegentemp/Pin_6_PM.c
rev1.cydsn/codegentemp/Pin_7.c
rev1.cydsn/codegentemp/Pin_7.h
rev1.cydsn/codegentemp/Pin_7_aliases.h
rev1.cydsn/codegentemp/Pin_7_PM.c
rev1.cydsn/codegentemp/Pin_8.c
rev1.cydsn/codegentemp/Pin_8.h
rev1.cydsn/codegentemp/Pin_8_aliases.h
rev1.cydsn/codegentemp/Pin_8_PM.c
rev1.cydsn/codegentemp/project.h
rev1.cydsn/codegentemp/SystemTimer.c
rev1.cydsn/codegentemp/SystemTimer.h
rev1.cydsn/codegentemp/SystemTimer_PM.c
rev1.cydsn/codegentemp/USBMIDI.c
rev1.cydsn/codegentemp/USBMIDI.h
rev1.cydsn/codegentemp/USBMIDI_audio.c
rev1.cydsn/codegentemp/USBMIDI_audio.h
rev1.cydsn/codegentemp/USBMIDI_boot.c
rev1.cydsn/codegentemp/USBMIDI_cdc.c
rev1.cydsn/codegentemp/USBMIDI_cdc.h
rev1.cydsn/codegentemp/USBMIDI_cls.c
rev1.cydsn/codegentemp/USBMIDI_cydmac.h
rev1.cydsn/codegentemp/USBMIDI_descr.c
rev1.cydsn/codegentemp/USBMIDI_Dm.c
rev1.cydsn/codegentemp/USBMIDI_Dm.h
rev1.cydsn/codegentemp/USBMIDI_Dm_aliases.h
rev1.cydsn/codegentemp/USBMIDI_Dm_PM.c
rev1.cydsn/codegentemp/USBMIDI_Dp.c
rev1.cydsn/codegentemp/USBMIDI_Dp.h
rev1.cydsn/codegentemp/USBMIDI_Dp_aliases.h
rev1.cydsn/codegentemp/USBMIDI_Dp_PM.c
rev1.cydsn/codegentemp/USBMIDI_drv.c
rev1.cydsn/codegentemp/USBMIDI_episr.c
rev1.cydsn/codegentemp/USBMIDI_hid.c
rev1.cydsn/codegentemp/USBMIDI_hid.h
rev1.cydsn/codegentemp/USBMIDI_midi.c
rev1.cydsn/codegentemp/USBMIDI_midi.h
rev1.cydsn/codegentemp/USBMIDI_msc.c
rev1.cydsn/codegentemp/USBMIDI_msc.h
rev1.cydsn/codegentemp/USBMIDI_pm.c
rev1.cydsn/codegentemp/USBMIDI_pvt.h
rev1.cydsn/codegentemp/USBMIDI_std.c
rev1.cydsn/codegentemp/USBMIDI_vnd.c
